/* ExamsPageStyles.module.css */

.container {
  margin-left: 15rem;
  margin-right: 2rem;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #f4f4f4;
}

@media (max-width: 768px) {
  .container {
    margin-left: 70px;
  }
}

.calendarWrapper {
  max-width: 100%;
  margin: auto;
  border: 0.15rem solid #b6b6b6;
  border-radius: 1rem;
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
}

.calendarHeader {
  max-width: 100%;
  display: table;
  gap: 1rem;
  align-items: center;
  margin-left: 2rem;
}

.calendarHeader button {
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-top: 0.15rem solid #b6b6b6;
  border-left: 0.15rem solid #b6b6b6;
}

.calendarDayName {
  font-weight: bold;
  text-align: center;
  color: #070f2b;
  border-right: 0.15rem solid #b6b6b6;
  border-bottom: 0.15rem solid #b6b6b6;
}

.calendarCell {
  height: 6rem;
  width: 7rem;
  display: center;
  align-items: top;
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
  border-right: 0.15rem solid #b6b6b6;
  border-bottom: 0.15rem solid #b6b6b6;
}

.today {
  background-color: #a480f74d;
  font-weight: bold;
  color: #000;
}

.calendarCell.empty {
  background-color: #f4f4f4;
  border: none;
}

.calendarContent {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  padding: 0.5rem;
}

.eventList {
  flex: 1;
  max-width: 45vh;
  background-color: #f4f4f4;
  padding: 1rem;
  border-radius: 1rem;
  overflow-y: auto;
  max-height: 75vh;
}

.calendarRight {
  flex: 2;
}

.deleteButton {
  background-color: transparent;
  border: none;
  color: red;
  font-size: 1rem;
  cursor: pointer;
}

.deleteButton:hover {
  color: darkred;
}

.calendarContent > div:first-child {
  flex: 2;
}

.calendarContent > div:last-child {
  flex: 3;
}

.weekend {
  background-color: #d9d9d9;
  color: black;
  font-weight: bold;
}

.eventItem {
  color: black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin: 0.2rem;
  font-size: 0.9rem;
  display: flex;
  word-break: break-word;
  justify-content: space-between;
}

.calendarCell .eventItem {
  margin: 0.2rem;
  padding: 0.2rem;
  border-radius: 0.4rem;
  color: whitesmoke;
  font-size: 0.75rem;
  /* max-width: 100%; */
  width: 100%;
  word-break: break-word;
  max-height: 2rem;
}

.dayInCell {
  display: center;
  font-size: 1.1rem;
  font-weight: 500;
  color: #070f2b;
}

.outsideMonth {
  background-color: #f4f4f4;
  color: #999;
}

.outsideMonth .eventItem {
  opacity: 0.6;
}

.weekend {
  background-color: #e0e0e0;
  color: #333;
  font-weight: bold;
}

.outsideMonth.weekend {
  background-color: #ddd; /* heller als reguläres Wochenende */
  color: #888;
}

.overlay {
  position: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  width: 90%;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 1rem;
  padding: 2rem;
  position: relative;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.eventContent {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #999;
  cursor: pointer;
  transition: color 0.2s ease;
}

.closeButton:hover {
  color: #f00;
}

.selectInput {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.buttonInput {
  background-color: #1b5496;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s ease;
}

.buttonInput:hover {
  background-color: #0073ee;
}

.periodInput {
  border: 1px solid #ccc;
  border-radius: 8px;
  align-items: center;
  margin-bottom: 1rem;
}
