/* ExamsPageStyles.module.css */

.container {
  margin-left: 20rem;
  margin-right: 5rem;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #f4f4f4;
}

@media (max-width: 768px) {
  .container {
    margin-left: 70px;
  }
}

.calendarWrapper {
  max-width: 600px;
  margin: auto;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  font-family: "Montserrat", sans-serif;
}

.calendarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.calendarHeader button {
  background-color: #a5a6a8;
  color: #3d2121;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  background-color: aqua;
}

.calendarDayName {
  font-weight: bold;
  text-align: center;
  color: #070f2b;
  background-color: #9290c3;
}

.calendarCell {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  font-size: 0.5rem;
  color: rgb(110, 92, 69);
}

.calendarCell.today {
  background-color: #9290c3;
  color: #fff;
  font-weight: bold;
}

.calendarCell.empty {
  background-color: transparent;
  border: none;
}
