.container {
  margin-left: 15rem;
  margin-right: 2rem;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 2rem;
  background-color: var(--bg-container);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

/* Styling für Mobile (Smartphone) bis 767px*/
@media (max-width: 767px) {
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    border-radius: 1.5rem;
    background-color: var(--bg-container);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

/* Styling für Tablet 767-991px*/
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--bg-container);
  }
}

/* Styling für kleine Monitore (Laptops) 992–1199px*/
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--bg-container);
  }
}

/* Styling für große Monitore (Desktop) 1200–1359px*/
@media (min-width: 1200px) {
  .container {
    margin-left: 15rem;
    margin-right: 2rem;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--bg-container);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

/* HD Monitore (1360–1919px) */
@media (min-width: 1360px) and (max-width: 1919px) {
  .container {
    margin-left: 16rem;
    margin-right: 2rem;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--bg-container);
  }
  .leftColumn {
    width: 60%;
  }
}

/* Full-HD Monitore (1920–2559px) */
@media (min-width: 1920px) and (max-width: 2559px) {
  .container {
    margin-left: 16rem;
    margin-right: 2rem;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--bg-container);
  }
}

/* 2K Monitore (2560–3839px) */
@media (min-width: 2560px) and (max-width: 3839px) {
  .container {
    margin-left: 16rem;
    margin-right: 5rem;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--bg-container);
  }
  .leftColumn {
    width: 70%;
    height: auto;
    gap: 3rem;
  }
}

/* 4K Monitore (ab 3840px) */
@media (min-width: 3840px) {
  .container {
    margin-left: 16rem;
    margin-right: 5rem;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--bg-container);
  }
  .leftColumn {
    width: 75%;
    gap: 4rem;
    height: auto;
  }
}

.todoRow {
  width: 100%;
}

.bottomRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}

.leftColumn {
  width: 50%;
  height: 49rem;
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.timetable {
  flex: 1;
  min-width: 300px;
}
