.container {
  margin-left: 15rem;
  margin-right: 5rem;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #f4f4f4;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.todoRow {
  width: 100%;
}

.bottomRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .container {
    margin-left: 70px;
  }
}

.leftColumn {
  width: 50%;
  height: 49rem;
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Für Full-HD und kleiner */
@media (max-width: 1920px) {
  .container {
    padding: 2rem;
    margin-left: 15rem;
    margin-right: 5rem;
  }
  .leftColumn {
    width: 60%;
  }
}

/* Für 2K Displays (2560px) */
@media (min-width: 2560px) {
  .container {
    padding: 3rem;
    margin-left: 15rem;
    margin-right: 5rem;
    gap: 3rem;
    height: 100%;
  }
  .leftColumn {
    width: 70%;
    height: auto;
    gap: 3rem;
  }
}

/* Für 4K Displays (3840px) */
@media (min-width: 3840px) {
  .container {
    padding: 4rem;
    margin-left: 15rem;
    margin-right: 5rem;
    gap: 4rem;
    height: 100%;
  }
  .leftColumn {
    width: 75%;
    gap: 4rem;
    height: auto;
  }
}

.timetable {
  flex: 1;
  min-width: 300px;
}
