/* LecturesPagesStyles.module.css */

.container {
  margin-left: 20rem;
  margin-right: 5rem;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #f4f4f4;
}

@media (max-width: 768px) {
  .container {
    margin-left: 70px;
  }
}
