/* NavigationBarStyles.module.css */

/* Hamburger Menü Button (mobil sichtbar) */
.mobileHeader {
  display: none;
  padding: 0.75rem;
}

.hamburgerButton {
  background: none;
  border: none;
  color: var(--hamburger-bg);
  cursor: pointer;
}

.hamburgerButton:hover {
  color: #fcfcfc;
}

/* Sidebar-Grundlayout */
.container {
  position: fixed;
  top: 2rem;
  left: 0.8rem;
  width: 10vh;
  height: 100vh;
  background-color: var(--bg-background);
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 100;
  transition: transform 0.3s ease;
}

/* Mobile Sidebar geschlossen */
.hideMenu {
  transform: translateX(-100%);
}

/* Mobile Sidebar geöffnet */
.showMenu {
  transform: translateX(0);
}

.main-content.without-sidebar {
  margin-left: 0;
}

/* Navigationstext */
.text {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  color: var(--text-default);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  font-weight: 500;
}

.box {
  margin-top: 1rem;
  border-radius: 1rem;
  width: 11rem;
  transition: background-color 0.3s ease;
  font-weight: 500;
}

.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  background-color: var(--navbar-hover);
}

/* Icons */
.text svg {
  font-size: 1.5rem;
}

.logo {
  width: 30%;
  height: auto;
  border-radius: 0.5rem;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

.logo:hover {
  animation: shake 0.4s ease-in-out;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

/* Styling für Mobile (Smartphone) bis 767px*/
@media (max-width: 767px) {
  .mobileHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .container {
    width: 200px;
  }
}

/* Styling für Tablet 767-991px*/
@media (min-width: 768px) and (max-width: 991px) {
  .mobileHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .container {
    width: 200px;
  }
}

/* Styling für kleine Monitore (Laptops) 992–1199px*/
@media (min-width: 992px) and (max-width: 1199px) {
  .mobileHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .container {
    width: 200px;
  }
}

@media (min-width: 1200px) {
  .mobileHeader {
    display: none;
  }

  .container {
    transform: translateX(0) !important;
    width: 200px;
  }
  .container.hideMenu {
    transform: translateX(0) !important;
  }
}
