/* NotesPageStyles.module.css */
.container {
  margin-left: 15rem;
  margin-right: 5rem;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #f4f4f4;
}

@media (max-width: 768px) {
  .container {
    margin-left: 70px;
  }
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.navItem {
  background-color: #e4e4e7;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.navItem:hover {
  background-color: #d4d4d8;
}

.active {
  background-color: #6b52c2;
  color: white;
}

.notesList {
  margin-top: 1rem;
}

.noteCard {
  border: 0.15rem solid #ccc;
  border-radius: 1rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
  background-color: #f9f9f9;
}

.deleteButton {
  background-color: #ef4444;
  color: white;
  border: none;
  display: flex;
  position: right;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.deleteButton:hover {
  background-color: #dc2626;
}

.noteLink {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  font-size: 1.2rem;
}

.noteLink:hover {
  text-decoration: underline;
}

.searchInput {
  width: 50%;
  padding: 0.5rem;
  border: 0.15rem solid #ccc;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.fileInput {
  width: 20%;
  padding: 0.5rem;
  border: 0.15rem solid #ccc;
  border-radius: 0.75rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  margin-left: 1rem;
}

.submitButton {
  background-color: #9d4edd;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 1rem;
  transition: background-color 0.2s ease;
}

.submitButton:hover {
  background-color: #7b2cbf;
}

.addLectureForm {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.addLectureForm input {
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: 0.15rem solid #ccc;
  flex: 1;
}

.addLectureForm button {
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.addLectureForm button:hover {
  background-color: #388e3c;
}

.addLectureContainer {
  display: flex;
  /* gap: 1rem; */
  align-items: center;
  margin-bottom: 1rem;
  margin-left: auto;
}

.lectureButton {
  background-color: #9d4edd;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  max-height: fit-content;
  /* margin-left: auto; */
  transition: background-color 0.2s ease;
}

.lectureButton:hover {
  background-color: #7b2cbf;
}
