/* NotesPageStyles.module.css */
.container {
  margin-left: 15rem;
  margin-right: 5rem;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 2rem;
  background-color: var(--bg-container);
}

/* Styling für Mobile (Smartphone) bis 767px*/
@media (max-width: 767px) {
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    border-radius: 1.5rem;
    background-color: var(--bg-container);
  }
}

/* Styling für Tablet 767-991px*/
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--bg-container);
  }
}

/* Styling für kleine Monitore (Laptops) 992–1199px*/
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--bg-container);
  }
}

/* Styling für große Monitore (Desktop) 1200–1359px*/
@media (min-width: 1200px) {
  .container {
    margin-left: 15rem;
    margin-right: 2rem;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--bg-container);
  }
}

/* HD Monitore (1360–1919px) */
@media (min-width: 1360px) and (max-width: 1919px) {
  .container {
    margin-left: 16rem;
    margin-right: 2rem;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--bg-container);
  }
}

/* Full-HD Monitore (1920–2559px) */
@media (min-width: 1920px) and (max-width: 2559px) {
  .container {
    margin-left: 16rem;
    margin-right: 2rem;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--bg-container);
  }
}

/* 2K Monitore (2560–3839px) */
@media (min-width: 2560px) and (max-width: 3839px) {
  .container {
    margin-left: 16rem;
    margin-right: 5rem;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--bg-container);
  }
}

/* 4K Monitore (ab 3840px) */
@media (min-width: 3840px) {
  .container {
    margin-left: 16rem;
    margin-right: 5rem;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--bg-container);
  }
}

.title {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: var(--text-color);
}

.addLectureContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-left: auto;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.lectureButton {
  background-color: var(--bg-button);
  color: var(--text-default);
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  max-height: fit-content;
  transition: background-color 0.2s ease;
}

.lectureButton:hover {
  background-color: var(--bg-button-hover);
}

.navItem {
  background-color: var(--timetable-background);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  color: var(--text-color);
}

.navItem:hover {
  background-color: #d4d4d8;
}

.noteName {
  font-weight: 500;
}

.active {
  background-color: var(--lectures-button);
  color: white;
}

.notesContainer {
  padding: 1rem;
  overflow-y: auto;
  background: var(--bg-inside-container);
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.searchInput {
  width: 50%;
  padding: 0.5rem;
  border: 0.1rem solid rgb(194, 194, 194);
  border-radius: 0.75rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  background-color: var(--input-field);
  color: var(--text-default);
}

.notesList {
  margin-top: 1rem;
}

.noteCard {
  border: 0.1rem solid rgb(194, 194, 194);
  border-radius: 1rem;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-bottom: 1rem;
  background-color: var(--bg-inside-container);
  color: var(--text-color);
}

.deleteButton {
  background-color: #ef4444;
  color: white;
  border: none;
  display: flex;
  position: right;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.deleteButton:hover {
  background-color: #dc2626;
}

.noteLink {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.2rem;
}

.noteLink:hover {
  text-decoration: underline;
}

.fileInput {
  width: 20%;
  padding: 0.5rem;
  border: 0.1rem solid rgb(194, 194, 194);
  border-radius: 0.75rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  margin-left: 1rem;
  color: var(--text-color);
}

.submitButton {
  background-color: var(--bg-button);
  color: var(--text-default);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 1rem;
  transition: background-color 0.2s ease;
}

.submitButton:hover {
  background-color: var(--bg-button-hover);
}

.addLectureForm {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.addLectureForm input {
  padding: 0.5rem;
  border-radius: 0.75rem;
  border: 0.15rem solid #ccc;
  flex: 1;
}

.addLectureForm button {
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.addLectureForm button:hover {
  background-color: #388e3c;
}
