/* SettingsPageStyles.module.css */
.container {
  margin-left: 15rem;
  margin-right: 5rem;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 2rem;
  background-color: #f4f4f4;
}

/* Styling für Mobile (Smartphone) bis 767px*/
@media (max-width: 767px) {
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    border-radius: 1.5rem;
    background-color: #f4f4f4;
  }
}

/* Styling für Tablet 767-991px*/
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #f4f4f4;
  }
}

/* Styling für kleine Monitore (Laptops) 992–1199px*/
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #f4f4f4;
  }
}

/* Styling für große Monitore (Desktop) 1200–1359px*/
@media (min-width: 1200px) {
  .container {
    margin-left: 15rem;
    margin-right: 2rem;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #f4f4f4;
  }
}

/* HD Monitore (1360–1919px) */
@media (min-width: 1360px) and (max-width: 1919px) {
  .container {
    margin-left: 16rem;
    margin-right: 2rem;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #f4f4f4;
  }
}

/* Full-HD Monitore (1920–2559px) */
@media (min-width: 1920px) and (max-width: 2559px) {
  .container {
    margin-left: 16rem;
    margin-right: 2rem;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #f4f4f4;
  }
}

/* 2K Monitore (2560–3839px) */
@media (min-width: 2560px) and (max-width: 3839px) {
  .container {
    margin-left: 16rem;
    margin-right: 5rem;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #f4f4f4;
  }
}

/* 4K Monitore (ab 3840px) */
@media (min-width: 3840px) {
  .container {
    margin-left: 16rem;
    margin-right: 5rem;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 2rem;
    background-color: #f4f4f4;
  }
}
