/* themes.css */

/* Light Mode Standardwerte */
:root {
  --bg-background: #706c7a;
  --bg-container: #f4f4f6;
  --navbar-hover: #87879c;
  --text-default: #ffffff;
  --hamburger-bg: #d3d3d3;
  --bg-inside-container: #f9f9f9;
  --bg-button: #5c5866;
  --bg-button-hover: #a499d1;
  --bg-readonly-timetable: #bea1d62a;
  --calendar-dot: #574f7d;
  --calendar-today: #bea1d64b;
  --calendar-today-broder: #bea1d64b;
  --calendar-hover: #f0f0f0;
  --calendar-outside: #a5a5a5;
  --readonly-grid: #ddd;
  --text-color: #000;
  --timetable-background: #eaeaea;
  --lecture-entry-bg: #bea1d64b;
  --modal-background: white;
  --modal-closebtn: #999;
  --modal-cancelbtn: #ccc;
  --modal-cancelbtn-hover: #aaa;
  --lectures-button: #6b52c2;
  --calendar-cells: #fdfdfd;
  --calendar-today-inCell: #9052c2;
  --calendar-outside-month: #fcfcfc;
  --event-type-color-exam: #d8bfd8;
  --event-type-color-lecture: #c8e4d1;
  --event-type-color-reminder: #cfcde0;
  --event-type-color-study: #d6cde3;
  --input-field: white;
}

[data-theme="dark"] {
  --bg-background: #121212;
  --bg-container: #1e1e1e;
  --navbar-hover: #2a2a2a;
  --text-default: #f4f1e8;
  --hamburger-bg: #2e2e2e;
  --bg-inside-container: #222222;
  --bg-button: #3d5afe;
  --bg-button-hover: #304ffe;
  --lectures-button: #5c6bc0;
  --bg-readonly-timetable: #3f3f3f40;
  --calendar-dot: #64b5f6;
  --calendar-today: #3949ab40;
  --calendar-today-broder: #5c6bc0;
  --calendar-hover: #2e2e2e;
  --calendar-outside: #666;
  --readonly-grid: #444;
  --calendar-cells: #1c1c1c;
  --calendar-today-inCell: #7986cb;
  --calendar-outside-month: #1a1a1a;
  --text-color: #eae4d8;
  --timetable-background: #1b1b1b;
  --lecture-entry-bg: #5c6bc040;
  --modal-background: #1d1d1d;
  --modal-closebtn: #888;
  --modal-cancelbtn: #2c2c2c;
  --modal-cancelbtn-hover: #444;
  --event-type-color-exam: #9f394d;
  --event-type-color-lecture: #b06c88;
  --event-type-color-reminder: #874a8b;
  --event-type-color-study: #6d3c74;
  --input-field: #2a2a2a;
}

[data-theme="green"] {
  --bg-background: #eaf4ec;
  --bg-container: #ffffff;
  --navbar-hover: #c6e2c8;
  --text-default: #2e4637;
  --hamburger-bg: #a2c9ac;
  --bg-inside-container: #f0faf2;
  --bg-button: #88b394;
  --bg-button-hover: #9ac8a4;
  --bg-readonly-timetable: #b6dfbd3d;
  --calendar-dot: #5e8d6d;
  --calendar-today: #c5e3ca80;
  --calendar-today-broder: #9ac8a4;
  --calendar-hover: #f0fdf7;
  --calendar-outside: #c6e2c8;
  --readonly-grid: #d3e9d5;
  --text-color: #2f3e35;
  --timetable-background: #f5fdf7;
  --lecture-entry-bg: #9ac8a430;
  --modal-background: #ffffff;
  --modal-closebtn: #668c77;
  --modal-cancelbtn: #a8d5b3;
  --modal-cancelbtn-hover: #89bb9d;
  --lectures-button: #7ab892;
  --calendar-cells: #ffffff;
  --calendar-today-inCell: #69a37a;
  --calendar-outside-month: #f2f8f3;
  --event-type-color-exam: #e5cfcf;
  --event-type-color-lecture: #bfe2cd;
  --event-type-color-reminder: #cfdfe1;
  --event-type-color-study: #dcd3e4;
  --input-field: #ecffec;
}

[data-theme="smoky"] {
  --bg-background: #1b1e23;
  --bg-container: #242933;
  --navbar-hover: #2e3540;
  --text-default: #eff0e3;
  --hamburger-bg: #3a404c;
  --bg-inside-container: #2f3541;
  --bg-button: #3c5a77;
  --bg-button-hover: #54799b;
  --bg-readonly-timetable: #5c6e8040;
  --calendar-dot: #7ba1c0;
  --calendar-today: #364a5e70;
  --calendar-today-broder: #7ba1c0;
  --calendar-hover: #3a404c;
  --calendar-outside: #4a4a4a;
  --readonly-grid: #4a4a4a;
  --text-color: #eceedd;
  --timetable-background: #2b2f36;
  --lecture-entry-bg: #54799b30;
  --modal-background: #2c313c;
  --modal-closebtn: #999;
  --modal-cancelbtn: #4e5661;
  --modal-cancelbtn-hover: #6b7685;
  --lectures-button: #618ab9;
  --calendar-cells: #303742;
  --calendar-today-inCell: #7ba1c0;
  --calendar-outside-month: #242933;
  --event-type-color-exam: #74818e;
  --event-type-color-lecture: #5c7c74;
  --event-type-color-reminder: #807c99;
  --event-type-color-study: #8e7998;
  --input-field: #242933;
}

[data-theme="gwbg"] {
  --bg-background: #111111;
  --bg-container: #1b1b1b;
  --navbar-hover: #2a2a2a;
  --text-default: #fffcdf;
  --hamburger-bg: #333;
  --bg-inside-container: #202020;
  --bg-button: #d2232a;
  --bg-button-hover: #f04855;
  --lectures-button: #ff333a;
  --modal-background: #181818;
  --modal-closebtn: #777;
  --modal-cancelbtn: #2f2f2f;
  --modal-cancelbtn-hover: #444;
  --readonly-grid: #555;
  --calendar-dot: #e0464a;
  --calendar-today: #d2232a50;
  --calendar-today-broder: #ff5252;
  --calendar-today-inCell: #ff4b58;
  --calendar-cells: #262626;
  --calendar-outside-month: #141414;
  --calendar-hover: #2a2a2a;
  --calendar-outside: #3a3a3a;
  --timetable-background: #1f1f1f;
  --lecture-entry-bg: #ff5c5c33;
  --text-color: #ebe9d5;
  --event-type-color-exam: #9f394d;
  --event-type-color-lecture: #b06c88;
  --event-type-color-reminder: #874a8b;
  --event-type-color-study: #6d3c74;
  --input-field: #1b1b1b;
}
