.readOnlyTimetable {
  background: var(--bg-inside-container);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  font-size: 0.85rem;
  overflow-x: auto;
  max-width: 100%;
  cursor: pointer;
}

.title {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.grid {
  display: grid;
  grid-template-columns: 80px repeat(5, 1fr); /* Zeitspalte + 5 Wochentage */
  border: 0.1rem solid var(--readonly-grid);
}

.cell {
  padding: 0.5rem;
  border: 0.1rem solid var(--readonly-grid);
  text-align: center;
  min-height: 2rem;
  color: var(--text-color);
}

.header {
  font-weight: 500;
  background-color: var(--bg-readonly-timetable);
  color: var(--text-color);
}

.timetableEntry {
  font-weight: 400;
  font-size: 0.85rem;
}
