.container {
  width: 97.5%;
  /* margin: 1rem; */
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f9f9f9;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.inputGroup {
  display: flex;
  margin-bottom: 1rem;
}

.inputField {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;

  font-size: 1rem;
}

.addButton {
  margin-left: 0.5rem;
  padding: 0 0.8rem;
  font-size: 1.5rem;
  background-color: #9d4edd;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addButton:hover {
  background-color: #7b2cbf;
}

.todoList {
  list-style: none;
  padding: 0;
}

.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ddd;
}

.todoTitle {
  flex: 1;
}

.deleteButton {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: gray;
  transition: color 0.2s ease, filter 0.2s ease;
  filter: grayscale(100%);
}

.deleteButton:hover {
  filter: grayscale(0%);
}
