.btn {
  margin-top: 1rem;
  border-radius: 1rem;
  width: 11rem;
  transition: background-color 0.3s ease;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  filter: brightness(0.9);
}
